/* .cardPattern {
    overflow: scroll;
    z-index: 15px !important;
} */
.scroll {
    overflow: scroll;
    height: 400px;
}
.showscroll {
    overflow: scroll;
    height: 317px;
}

/* .cardMain{
    height: 500px !important;
    z-index: -1;
} */