.Category{
    width: 528px;
    height: 37px;
    border: none;
}
.vegetarian{
    background: rgb(16, 175, 16);
}
.non-vegetarian{
    background: rgb(214, 13, 13);
}.Eggetarian{
    background: rgb(207, 207, 8);
}

/* 
.veg {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #16ad2f;
    display: block;
    margin: 5px auto;
  }
  .rsveg {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: 4px solid #16ad2f;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    text-align: center;
  }
  75da43
  
  .nonveg {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #f70606;
    display: block;
    margin: 5px auto;
  }
  .rsnonveg {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: 4px solid #f70606;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    text-align: center;
  }
  
  .Categoryborder {
    border-style: solid;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-width: 3px;
    border-image: conic-gradient(red, rgb(35, 231, 35), red, rgb(35, 231, 35)) 1;
  } */